<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Rol</title>
</head>
<body>
    <h1>Ver Rol</h1>
    <div class="container">
        <label for="id">Codigo</label>
        <input type="text" name="id" id="id" value="<%= rol.id %>" readonly>
        <br><br>
        <label for="Nombre_rol">Nombre</label>
        <input type="text" name="Nombre_rol" id="Nombre_rol" value="<%= rol.Nombre_rol %>" readonly>
        <br>
        <button onclick="window.location.href='/rol'">Volver</button>
    </div>
</body>
</html>